.top_box {
    height: 38px;
    background: #000;
}
.top_cont {
    width: 1200px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    margin: 0 auto;
}
.top_cont .top_login {
    float: right;
    padding-top: 11px;
    cursor: pointer;

}
.top_login li {
    float: left;
    height: 14px;
    line-height: 14px;
    padding: 0 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
.top_login li a {
    color: #fff;
    font-size: 13px;
}
.top_phone {

    position: relative;
    float: right;
    z-index: 9999;
    padding-right: 20px;
}
.top_phone_title {
    height: 38px;
    line-height: 38px;
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    font-size: 14px;
}
span#UserNameID {
    float: left;
}
.top_phone ul {
    width: 140px;
    border: 1px solid #d3d3d3;
    position: absolute;
    right: 0;
    top: 38px;
    z-index: 9999;
    display: none;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top_phone ul li {
    line-height: 28px;
    height: 28px;
    text-align: center;
}

.top_logob {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.top_logob_imga {
    float: left;
}
.top_logob_imgb {
    float: right;
}
.w1200, .ns_w {
    width: 1200px;
    margin: 0 auto;
}
.buycart {
    color: #000;
    background: #fff;
    margin-top: 40px;
}

.buycart .bc_table table {
    width: 100%;
    border: 1px solid #d9d8d6;
    border-bottom: 0;
    margin-bottom: 10px;
}
.bc_table tr th {
    height: 36px;
    line-height: 36px;
    font-weight: normal;
    font-size: 15px;
    background: #f8f8f8;
}

.buycart .container .row{
    margin-bottom: 10px;
    border: 1px solid #9d9d9d;
    border-radius: 5px;
}
.buycart .container .row>div{
   float: left;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #8c8c8c;

    height: 85px;

}
.buycart .container .row>div:not(:first-child){
    line-height: 85px;
    font-size: 18px;
}

.row .cart-pro{
    width: 40%;

}
.row .cart-price{
    width: 15%;
}
.row .cart-num{
    width: 20%;
}
.row .cart-sum{
    width: 15%;
}
.row .cart-handle{
    width: 10%;
    border-right:none!important;
}

.row .cart-pro a{
    float: left;
    width: 50%;
}
.row .cart-pro .cart-pro-tit{
    padding: 10px;
}
.row .cart-num input{
    width: 25%;
    float: left;
    margin-top: 27px;
    height: 26px;
    box-sizing: border-box;

}

.row .reduce {
    background: url(../img/pro_detail/new_detail.png) -56px -33px;
    display: inline-block;

    width: 25px;
    height: 26px;
    margin-top: 27px;
    margin-left: 20%;
    float: left;
    cursor: pointer;
}
.row .add {
    background: url(../img/pro_detail/new_detail.png) -82px -33px;
    display: inline-block;
     width: 25px;
    height: 26px;
   float: left;
    margin-top: 27px;
    cursor: pointer;
}


.buycart .bc_nopro {
    padding: 80px 0 80px 336px;
    width: 600px;
}
.bc_nopro h3 {
    height: 84px;
    line-height: 84px;
    padding-left: 110px;
    background: url(../img/buycart.png) no-repeat -4px -66px;
    font-size: 18px;
    float: left;
    font-weight: normal;
}
.bc_nopro .bc_no_btn {
    float: left;
    margin: 27px 0 0 10px;
    width: 210px;
}
.bc_nopro .bc_no_btn a {
    display: inline-block;
    width: 95px;
    height: 30px;
    line-height: 30px;
    background: url(../img/buycart.png) -4px -163px;
    text-align: center;
    font-size: 14px;
    color: #000;
    margin: 0 4px;
}

#Services-list {
    background: #f5f5f5;
    height: 83px;

    border-top: 1px solid #ececec;
}